body{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem; 
    margin-left: calc(50% - 200px);
}   


.calc-btn {
    background-color: lightblue;
    color: black;
    width: 97px;
    height: 70px;
    text-align: center;
    padding-top: 25px; 
    cursor: pointer;
    font-size: 32px;
    border: 1px solid black;
}

button {
    background-color: lightblue;
    color: black;
    width: 97px;
    height: 70px;
    text-align: center;
    padding-top: 3px; 
    cursor: pointer;
    font-size: 32px;
    border: 1px solid black;
}

.operand{
    background-color: lightsalmon;
}
.calc-btn:hover {
    background-color: lightcoral;
}
.row{
    display: table;
    table-layout: fixed;
    width: 400px;
}

.column{
    display: table-cell;
}

#button0{
    width: 196.666667px;
    border-radius: 0 0 0 7px;
}

#clear{
    width: 196.666667px;
}

#equals{
    border-radius: 0 0 7px 0;
}


#display{
    height: 100px;
    color: white;
    text-align: right;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 70px;
    font-weight: 50;
    background-color: darkolivegreen;
    overflow: hidden;
    white-space: nowrap;    
    padding: 12px;
    border-radius: 7px 7px 0 0;   
}

