.calculator{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: solid .5px gray;
    max-width: 300px;
    width: auto;
    min-width: 200px;
    height: auto;
}

/* 
 */
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    min-width: 200px;
    min-height: 200px;
    width: 75px;
    height: 75px;
}

button:hover {
    color: red;
}
#clear {
    margin: 0;
    width: auto;
    height: auto;
}
#display {
    font-size: 30px;
    margin: 0;
    padding: .5rem;
    max-width: auto;
    width: 100%;
    max-height: 100%;
    height: auto;
    animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: darkgray;
  }
}

/* #buttons{
    display: flex;
    flex-wrap: wrap;
   flex-direction: column; 
    max-height: 300px;  
} */
.numbers {
    color: red; 
}
/*
.operators {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 24%;
    height: 75%;
    
}
.equals {
    margin: 0;
    width: 24%;
    height: 24%;
} */